.main-section-banner{
  background-image: url('https://img.freepik.com/premium-psd/black-friday-sale-social-media-post-instagram-post-web-banner-facebook-cover-template_220443-1075.jpg');
  background-position: center;
  background-size: cover;
}